body{
  background:black;
}

.container{
  position:relative;
  width:800px;
  height:600px;
  background:#12113D;
  margin:212px auto;
    
}
.luna{
  position:absolute;
  width:400px;
  height:400px;
  border-radius:100%;
  background:white;
  margin:90px 212px
    
}
.luna::before{
  content:"";
  position:absolute;
  width:350px;
  height:350px;
  border-radius:100%;
  background:#12113D;
  border-left:12px solid lightgray;
  margin:21px 65px
}
.oso{
  position:absolute;
  margin: 380px 350px
}
.head{
  position:absolute;
  width:90px;
  height:80px;
  border-radius:100%;
  background:#ccc;
  border-right:5px solid #b3bead;
  margin:3px 0px;
  animation:sube 3s alternate infinite;
    
}
.head::before{
  content:"";
  position:absolute;
  width:80px;
  height:40px;
  border-radius:8px 0 80px 80px;
  background:#ccc;
  margin:50px -3px
}
.body{
  position:absolute;
  width:70px;
  height:63px;
  border-radius:100%;
  background:#ccc;
  margin:27px 53px;
  animation:sube 3s alternate infinite;
}
.ojo{
  position:absolute;
  width:35px;
  height:35px;
  border-radius: 132px 182px 152px 142px; ;
  background:#121212;
  margin:30px 17px
}
.ojo::before{
  content:"";
  position:absolute;
  width:12px;
  height:21px;
  border-radius:100%;
  border-left:5px solid #121212;
  margin:3px -21px;
  transform:rotate(0deg)
}
.nose{
  position:absolute;
    width: 12px;
  height: 9px;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
  background:#121212;
  margin:27px -15px
}
.nose::before{
  content:"";
  position:absolute;
  width:9px;
  height:14px;
  border-radius:100%;
  border-left:3px solid #121212;
  border-bottom:3px solid #121212;
  margin:0 3px;
}
.oreja{
  position:absolute;
  width:50px;
  height:33px;
  border-radius:40px 40px 12px 12px;
  background:#121212;
  border-top:3px solid #333;
  margin:0px 50px;
  transform:rotate(45deg);
  animation:shake 3s linear infinite;
}
.leg{
  position:absolute;
  width:30px;
  height:21px;
  border-radius:100%;
  background:#121212;
  margin:73px 55px;
}
.leg::before{
  content:"";
  position:absolute;
  width:30px;
  height:21px;
  border-radius:100%;
  background:#121212;
  margin:-3px 43px;
  transform:rotate(-21deg)
}
.leg3{
  position:absolute;
  width:30px;
  height:17px;
  border-radius:100%;
  background:#121212;
  margin:73px -7px;
}
.leg::after{
  content:"";
  position:absolute;
  width:21px;
  height:17px;
  border-radius:100%;
  background:#121212;
  margin:-3px 60px;
}
.eye{
  position:absolute;
  width:14px;
  height:16px;
  border-radius:30px 30px 0 0;
  border-top:3px solid gray;
  margin:0px 9px;
  animation:cerrar 3s alternate infinite;
}


.star1,.star2,.star3,.star4,.star5,.star6,.star7,.star8,.star9{
  position:absolute;
  width:3px;
  height:21px;
  border-radius:100%;
  background:white;
  
 
  
}
.star1{
  margin:121px 192px;
  transform:scale(.9)
  
}
.star2{
   margin:30px 400px;
  transform:scale(.7)
}
.star3{
  margin:152px 590px;
  transform:scale(.5)
}
.star4{
  margin:312px 132px;
  transform:scale(.7)
}
.star5{
  margin:312px 630px;
  transform:scale(.6)
}
.star6{
  margin:251px 400px;
   transform:scale(.9)
}
.star7{
  margin:450px 231px;
   transform:scale(.6)
}
.star8{
  margin:521px 390px;
   transform:scale(.6)
    
}
.star9{
  margin:460px 600px;
   transform:scale(.7)
    
}
.star1::before, .star2::before, .star3::before,.star4::before,.star5::before,.star6::before,.star7::before,.star8::before,.star9::before{
  content:"";
  position:absolute;
  width:21px;
  height:3px;
  border-radius:100%;
  background:white;
  margin:9px -9px;
  
}
.star1, .star3, .star5, .star7, .star9{
  animation:brillo 3s alternate infinite;
}
.star2, .star4, .star6, .star8{
  animation:brillos 3s alternate infinite;
}
@keyframes brillo{
  0%{opacity:1; }
  50%{opacity:.5;}
  75%{opacity:.3}
  100%{opacity:1;}
}
@keyframes brillos{
  0%{opacity:1; }
  50%{opacity:.3;}
  75%{opacity:.7}
  100%{opacity:1;}
}
@keyframes sube{
  0%{transform:translatey(0px) }
  50%{transform:translatey(3px)}
  
}
@keyframes cerrar{
  0%{opacity:0}
  50%{opacity:1}
  
}

@keyframes shake {
  0%,30%{transform:rotate(45deg) translatex(0px)}
  50%{transform:rotate(55deg) translatex(-3px);}
  60%,70%,80%,90%,100%{transform:rotate(45deg) translatex(0px)}
}