body{
	background-color: deepskyblue;
	background-image: linear-gradient(to bottom, #5CC3FF, #0060DF);
}
#awal {
	width:95%;
	margin: auto;
	background-color: white;
}

#outer{
	width:85%;
	margin:auto;
	background-color:white;
}

#sosmed img {
	padding-top:19px;
	padding-left:3%;
	padding-right:3%;
	width:35%;
}

#sosmed ul li{
	display:inline;
}

#foto img {
	margin-top:19px;
	width:100%;
}

#foto{
	text-align:center;
}

#sosmed ul li img{
	float:right;
	width:6%;
	display: inline;
}

header{
	color: blue;
	width: 90%;
	margin: auto;
	background-color:white;
}

footer{
	text-align:center;
	color:white;
	background-color:black;
	margin:auto;
}

nav ul{
	list-style-type:none;
	padding:0;
	margin:0;
	overflow:hidden;
	background-color:#333333;
	}

	
nav ul li{
	float:left;
}

nav ul a{
	display:block;
	color:white;
	text-align:center;
	padding:16px;
	text-decoration:none;
}

article{
	width:95%;
	margin: auto;
	border-left: 0;
	padding: lem;
	overflow: hidden;
	text-align:justify;
	background-color:white;
}


	