body {
	background-color: lightpink;
}
#logo img {
	float: left;
	margin: 5px 10px;
	padding: 20px;
}
#sosmed ul li {
	display: inline;
}
#sosmed ul li img {
	float: right;
	margin-top: 10px;
	padding-right: 5px;
}
#wrapper {
	width: 900px;
	height: 900px;
	margin: 0 auto;
	background-color: white;
}
#menu {
	clear: both;
	border-top: 1px red solid;
	border-bottom: 1px red solid;
}
#menu ul li {
	display: inline;
	padding: 20px;
}
main {
	clear: both;
}
#banner {
	margin-top: 10px;
}