html {
	background-color: #fdcdac;
}
#sosialmedia {
	border-top: 1px;
	border-bottom: 1px;
}
#sosialmedia ul li {
	display: inline;
}

li img {
	width: 54px;
	height: 54px;
	transition: 1s ease;
}

li img:hover {
	transform: scale(1.25);
}

