body {
	background-color: #fdcdac;
}
#wrapper {
	width: 900px;
	margin: 0 auto;
	background-color: #ffffff;
	height: 1800px
}
#sosialmedia {
	border-top: 1px;
	border-bottom: 1px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	/*background-color: #ffffff;*/
}
#sosialmedia ul li {
	display: inline;
}

#logo {
	float: left;
	margin: 10px 10px;
	padding: 20px;
}

#menu {
	clear: both;
	border-top: 1px #ff0000 solid;
	border-bottom: 1px #ff0000 solid;
}

#menu ul li {
	display: inline;
	padding: 10px;
	background-color: cyan;
}

#menu ul li:hover {
	background-color: red;
	cursor: pointer;
}

#banner {
	height: 300px;
	width: 900px;
	margin-top: 10px;
}

li img {
	width: 32px;
	height: 32px;
	transition: 1s ease;
}

li img:hover {
	transform: scale(1.5);
}

